[submodule "echoprint-codegen"]
	path = lib/echoprint-codegen
	url = https://github.com/echonest/echoprint-codegen.git
[submodule "lib/echoprint-codegen"]
	path = lib/echoprint-codegen
	url = https://github.com/echonest/echoprint-codegen.git
